<% provide(:title, "Welcome") %>
<h1>Experience your writing in sound!</h1>

<form>
  Email: <input type="text" name="email">
  <br>
  <br>
  <input type="submit" value="Go!">
</form>

<br>

<a href ="http://localhost:3000/login/register">Register</p>
<a href ="http://localhost:3000/login/about">About</p>
